.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/configuration/mirrors.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
ios/LT_Demo/LT_Demo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved.public-backup
ios/LT_Demo/LT_Demo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved.tmp-local
